@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
    background-color: rgb(230, 227, 227);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: rgb(0, 108, 0);
}

/* visited link */

a:visited {
    color: rgb(173, 147, 0);
}

/* mouse over link */
a:hover {
    color: rgb(0, 108, 0);
}

/* selected link */

a:active {
    color: blue;
}


#first-img {
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px rgb(105, 105, 105);
}



